<%- include('layout/header') %>

<main class="error-container">
    <div class="error-content">
        <h1>Oops!</h1>
        <p>%= message %></p>
        <a href="/" class="back-home">Back to Home</a>
    </div>
</main>

<%- include('layout/footer') %> 