    <footer>
        <div class="footer-content">
            <p>&copy; 2024 MangaReader Clone. All rights reserved.</p>
        </div>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html> 